.main-section5{
	margin-left: 150px;
	margin-right: 150px;

}
.main-section5__title{
	text-align: center;

}
.main-section5__title__name{
margin-top: 75px;
font-size: 24px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
text-transform: uppercase;
}
.orange-line2{
	margin: 20px;
	height: 2px;
	width: 100px;
	background-color: #ff9600;
}
.desc__title{
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 17px;
text-transform: uppercase;

}
.masters{
	margin-bottom: 20px;
	display: flex;
	justify-content:center;
}
.masters-cards{
	margin: 40px;
	width: 260px;
}
.masters-cards img{
	width: 100%;
}
.title__master-cards{

}
.name__title-master-cards{
margin-top: 55px;
font-family: 'Roboto', sans-serif;
font-weight: 900;
}
.desc__title-master-cards{
margin-top: 10px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
}