.main-section3{
	margin-right: 150px;
	margin-left: 150px;
	background-color: #ff9600;
	display: flex;
	justify-content:center;
}
.slider{
	position: relative;
	top:40px;
	width: 460px;
	height: 439px;
	min-height: 100%;
}
.main-section3__title{
	margin-top: 105px;
	margin-left: 95px;
}
.main-section3__title__name{
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.list-slider{

}
.traine-list{
list-style-type: none;
margin-top: 40px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
}
.traine-list li{
	font-size: 17px;

}
.main-section3__button{
	margin-top: 40px;
	background-color: #0a0a0a;
	color:#fff;
	text-transform: uppercase;
	border: none;
	width: 235px;
	height: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.main-section3__button, 
button:active, 
button:focus {
    outline: none;
}